<html>
  <head>
    <title>Password Reset</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .form-layout {
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h1 class="text-center">Password Reset complete</h1>
      <p>
        Your password has been reset. You can now login with your new password.
      </p>
      <a href="{% url 'login' %}" class="btn btn-secondary btn-md w-100 p-4"
        >Login</a
      >
    </div>
  </body>
</html>
