<html>
  <head>
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .form-layout {
        max-width: 500px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container form-layout p-5 bg-white">
      <h1 class="text-center">Reset Password</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br />
        <input
          class="btn btn-block btn-secondary btn-md w-100 p-4"
          type="submit"
          value="Reset Password"
        />
      </form>
    </div>
  </html>